In [2]:
import sqlite3
import os
import csv
os.chdir("E:/EBAC/Material/M43-TÃ³picos avanzados")
conn = sqlite3.connect("ReparacionCompus.db")

In [3]:
cur = conn.cursor()

In [4]:
# Tabla que contenga la informacion de los clientes
cur.execute('''
    CREATE TABLE Clientes (
    NombreCliente TEXT PRIMARY KEY,
    Direccion TEXT,
    Telefono INTEGER)
    ''');

In [6]:
# Insertar valores a la tabla
with open('clientes.csv') as f:
    reader = csv.reader(f)
    data = list(reader)

for renglon in range(1, len(data)):
    cur.execute("""
        INSERT INTO Clientes (NombreCliente, Direccion, Telefono)
        VALUES (?,?,?)
    """, data[renglon])

In [8]:
# Revision de datos
cur.execute('SELECT * FROM Clientes')
result=cur.fetchall()
result

[('Juan Perez', 'Calle 123, Ciudad A', 5551234567),
 ('Maria Gomez', 'Avenida 456, Ciudad B', 5552345678),
 ('Carlos Ruiz', 'Calle Principal 789, Ciudad C', 5553456789),
 ('Laura Fernandez', 'Carrera 101, Ciudad D', 5554567890),
 ('Pedro Martinez', 'Boulevard 202, Ciudad E', 5555678901),
 ('Ana Lopez', 'Plaza Central 303, Ciudad F', 5556789012),
 ('Jorge Ramirez', 'Zona Norte 404, Ciudad G', 5557890123),
 ('Sofia Herrera', 'Pasaje 505, Ciudad H', 5558901234),
 ('Luis Torres', 'Sector Sur 606, Ciudad I', 5559012345),
 ('Elena Vargas', 'Camino Real 707, Ciudad J', 5550123456),
 ('Fernando Castro', 'Calle 808, Ciudad K', 5551234501),
 ('Gabriela Diaz', 'Avenida 909, Ciudad L', 5552345602),
 ('Raul Mendoza', 'Carrera 111, Ciudad M', 5553456703),
 ('Isabel Soto', 'Plaza Norte 222, Ciudad N', 5554567804),
 ('Ricardo Guzman', 'Sector 333, Ciudad O', 5555678905),
 ('Monica Salinas', 'Pasaje 444, Ciudad P', 5556789006),
 ('Victor Rios', 'Camino Viejo 555, Ciudad Q', 5557890107),
 ('Beatriz Flores', 'Calle 666, Ciudad R', 5558901208),
 ('Andres Espinoza', 'Avenida 777, Ciudad S', 5559012309),
 ('Patricia Leon', 'Carrera 888, Ciudad T', 5550123410)]

In [9]:
# Tabla conteniendo informacion tecnica de reparaciones a realizar
cur.execute('''
    CREATE TABLE Trabajos (
    NombreDispositivo TEXT PRIMARY KEY,
    NombreCliente TEXT,
    Precio INTEGER,
    FechaIngreso DATE,
    FechaEntrega DATE)
    ''');

In [11]:
# Insertar valores a la tabla
with open('trabajos.csv') as f:
    reader = csv.reader(f)
    data = list(reader)

for renglon in range(1, len(data)):
    cur.execute("""
        INSERT INTO Trabajos (NombreDispositivo, NombreCliente, Precio, FechaIngreso, FechaEntrega)
        VALUES (?,?,?,?,?)
    """, data[renglon])

In [33]:
# Revision de datos
cur.execute('SELECT * FROM Trabajos')
result=cur.fetchall()
result

[('Fernando Castro',),
 ('Andres Espinoza',),
 ('Carlos Ruiz',),
 ('Fernando Castro',),
 ('Carlos Ruiz',),
 ('Patricia Leon',),
 ('Gabriela Diaz',),
 ('Gabriela Diaz',),
 ('Pedro Martinez',),
 ('Carlos Ruiz',),
 ('Beatriz Flores',),
 ('Jorge Ramirez',),
 ('Beatriz Flores',),
 ('Juan Perez',),
 ('Gabriela Diaz',),
 ('Gabriela Diaz',),
 ('Juan Perez',),
 ('Beatriz Flores',),
 ('Fernando Castro',),
 ('Gabriela Diaz',)]

In [14]:
# Uso de INNER JOIN para filtrar solo resultados de clientes con trabajos registrados
cur.execute('''
    SELECT c.NombreCliente, t.NombreDispositivo, t.Precio
    FROM Clientes AS c
    INNER JOIN Trabajos AS t
    ON c.NombreCliente = t.NombreCliente
''')
result=cur.fetchall()
result

[('Fernando Castro', 'Laptop Dell XPS', 1394),
 ('Andres Espinoza', 'iPhone 13 Pro', 2858),
 ('Carlos Ruiz', 'Samsung Galaxy S22', 4566),
 ('Fernando Castro', 'MacBook Pro 16', 4614),
 ('Carlos Ruiz', 'HP Pavilion', 4335),
 ('Patricia Leon', 'iPad Air', 802),
 ('Gabriela Diaz', 'Lenovo ThinkPad', 3079),
 ('Gabriela Diaz', 'Xbox Series X', 1990),
 ('Pedro Martinez', 'PlayStation 5', 4174),
 ('Carlos Ruiz', 'Smart TV LG', 1486),
 ('Beatriz Flores', 'GoPro Hero 10', 1286),
 ('Jorge Ramirez', 'Canon EOS R5', 1776),
 ('Beatriz Flores', 'Nintendo Switch', 531),
 ('Juan Perez', 'OnePlus 10', 3303),
 ('Gabriela Diaz', 'Google Pixel 7', 1978),
 ('Gabriela Diaz', 'Razer Blade 15', 4931),
 ('Juan Perez', 'DJI Mavic Air', 4472),
 ('Beatriz Flores', 'ASUS ROG Zephyrus', 548),
 ('Fernando Castro', 'Bose Headphones 700', 882),
 ('Gabriela Diaz', 'Amazon Kindle', 2284)]

In [15]:
# Uso de LEFT JOIN para filtrar resultados de clientes incluso si no tienen trabajos registrados
cur.execute('''
    SELECT c.NombreCliente, t.NombreDispositivo, t.Precio
    FROM Clientes AS c
    LEFT JOIN Trabajos AS t
    ON c.NombreCliente = t.NombreCliente
''')
result=cur.fetchall()
result

[('Ana Lopez', None, None),
 ('Andres Espinoza', 'iPhone 13 Pro', 2858),
 ('Beatriz Flores', 'ASUS ROG Zephyrus', 548),
 ('Beatriz Flores', 'GoPro Hero 10', 1286),
 ('Beatriz Flores', 'Nintendo Switch', 531),
 ('Carlos Ruiz', 'HP Pavilion', 4335),
 ('Carlos Ruiz', 'Samsung Galaxy S22', 4566),
 ('Carlos Ruiz', 'Smart TV LG', 1486),
 ('Elena Vargas', None, None),
 ('Fernando Castro', 'Bose Headphones 700', 882),
 ('Fernando Castro', 'Laptop Dell XPS', 1394),
 ('Fernando Castro', 'MacBook Pro 16', 4614),
 ('Gabriela Diaz', 'Amazon Kindle', 2284),
 ('Gabriela Diaz', 'Google Pixel 7', 1978),
 ('Gabriela Diaz', 'Lenovo ThinkPad', 3079),
 ('Gabriela Diaz', 'Razer Blade 15', 4931),
 ('Gabriela Diaz', 'Xbox Series X', 1990),
 ('Isabel Soto', None, None),
 ('Jorge Ramirez', 'Canon EOS R5', 1776),
 ('Juan Perez', 'DJI Mavic Air', 4472),
 ('Juan Perez', 'OnePlus 10', 3303),
 ('Laura Fernandez', None, None),
 ('Luis Torres', None, None),
 ('Maria Gomez', None, None),
 ('Monica Salinas', None, None),
 ('Patricia Leon', 'iPad Air', 802),
 ('Pedro Martinez', 'PlayStation 5', 4174),
 ('Raul Mendoza', None, None),
 ('Ricardo Guzman', None, None),
 ('Sofia Herrera', None, None),
 ('Victor Rios', None, None)]

In [17]:
# Uso de CASE WHEN para clasificar trabajos por su precio
cur.execute('''
    SELECT NombreCliente, NombreDispositivo, Precio, FechaEntrega,
        CASE
            WHEN Precio > 3000 THEN 'Precio Alto'
            WHEN Precio BETWEEN 2000 AND 3000 THEN 'Precio Normal'
            ELSE 'Precio Bajo'
        END AS CategoriaPrecio
    FROM Trabajos
''')
result=cur.fetchall()
result

[('Fernando Castro', 'Laptop Dell XPS', 1394, '2024-04-27', 'Precio Bajo'),
 ('Andres Espinoza', 'iPhone 13 Pro', 2858, '2024-04-07', 'Precio Normal'),
 ('Carlos Ruiz', 'Samsung Galaxy S22', 4566, '2024-02-28', 'Precio Alto'),
 ('Fernando Castro', 'MacBook Pro 16', 4614, '2024-04-27', 'Precio Alto'),
 ('Carlos Ruiz', 'HP Pavilion', 4335, '2024-05-05', 'Precio Alto'),
 ('Patricia Leon', 'iPad Air', 802, '2024-01-11', 'Precio Bajo'),
 ('Gabriela Diaz', 'Lenovo ThinkPad', 3079, '2024-04-22', 'Precio Alto'),
 ('Gabriela Diaz', 'Xbox Series X', 1990, '2024-04-11', 'Precio Bajo'),
 ('Pedro Martinez', 'PlayStation 5', 4174, '2024-02-17', 'Precio Alto'),
 ('Carlos Ruiz', 'Smart TV LG', 1486, '2024-02-26', 'Precio Bajo'),
 ('Beatriz Flores', 'GoPro Hero 10', 1286, '2024-02-03', 'Precio Bajo'),
 ('Jorge Ramirez', 'Canon EOS R5', 1776, '2024-02-08', 'Precio Bajo'),
 ('Beatriz Flores', 'Nintendo Switch', 531, '2024-03-31', 'Precio Bajo'),
 ('Juan Perez', 'OnePlus 10', 3303, '2024-05-23', 'Precio Alto'),
 ('Gabriela Diaz', 'Google Pixel 7', 1978, '2024-01-11', 'Precio Bajo'),
 ('Gabriela Diaz', 'Razer Blade 15', 4931, '2024-04-01', 'Precio Alto'),
 ('Juan Perez', 'DJI Mavic Air', 4472, '2024-03-22', 'Precio Alto'),
 ('Beatriz Flores', 'ASUS ROG Zephyrus', 548, '2024-06-04', 'Precio Bajo'),
 ('Fernando Castro', 'Bose Headphones 700', 882, '2024-06-04', 'Precio Bajo'),
 ('Gabriela Diaz', 'Amazon Kindle', 2284, '2024-04-14', 'Precio Normal')]

In [18]:
# Ejemplo de Semi-Join donde se muestan los clientes de la primera tabla donde tienen algun trabajo 
# registrado en la segunda tabla con valor mayor a 1000
cur.execute('''
    SELECT c.NombreCliente
    FROM Clientes AS c
    WHERE c.NombreCliente IN
        (SELECT t.NombreCliente
         FROM Trabajos AS t
         WHERE Precio > 1000)         
''')

result = cur.fetchall()
result

[('Andres Espinoza',),
 ('Beatriz Flores',),
 ('Carlos Ruiz',),
 ('Fernando Castro',),
 ('Gabriela Diaz',),
 ('Jorge Ramirez',),
 ('Juan Perez',),
 ('Pedro Martinez',)]

In [22]:
# Uso de un SubQuery para seleccionar aquellos clientes cuyo monto de compra es menor al promedio general
cur.execute('''
    SELECT NombreCliente, Precio
    FROM Trabajos
    WHERE Precio <
        (SELECT AVG(Precio) FROM Trabajos)
''')

result = cur.fetchall()
result

[('Fernando Castro', 1394),
 ('Patricia Leon', 802),
 ('Gabriela Diaz', 1990),
 ('Carlos Ruiz', 1486),
 ('Beatriz Flores', 1286),
 ('Jorge Ramirez', 1776),
 ('Beatriz Flores', 531),
 ('Gabriela Diaz', 1978),
 ('Beatriz Flores', 548),
 ('Fernando Castro', 882),
 ('Gabriela Diaz', 2284)]

In [36]:
# Uso de Anti-Join para seleccionar Clientes que no tienen trabajos registrados
cur.execute('''
    SELECT c.NombreCliente
    FROM Clientes AS c
    WHERE c.NombreCliente NOT IN
        (SELECT t.NombreCliente
        FROM Trabajos AS t)
''')
result = cur.fetchall()
result

[('Ana Lopez',),
 ('Elena Vargas',),
 ('Isabel Soto',),
 ('Laura Fernandez',),
 ('Luis Torres',),
 ('Maria Gomez',),
 ('Monica Salinas',),
 ('Raul Mendoza',),
 ('Ricardo Guzman',),
 ('Sofia Herrera',),
 ('Victor Rios',)]