In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("Base.db")

In [3]:
conn

In [4]:
conn.cursor()

In [5]:
cur = conn.cursor()

In [15]:
cur.execute("""
    CREATE TABLE Clientes (
        CustomerID INTEGER PRIMARY KEY,
        CustomerName TEXT,
        ContactName TEXT,
        Address TEXT,
        City TEXT,
        PostalCode TEXT,
        Country TEXT,
        PurchaseUSD INTEGER
    );
""")

In [16]:
# Inserción de valores
cur.execute("""
    INSERT INTO Clientes (CustomerName, ContactName, Address, City, PostalCode, Country, PurchaseUSD)
    VALUES ('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57','Berlin','12209','Germany',14861),
        ('Ana Trujillo Emparedados y helados','Ana Trujillo','Avda. de la Constitución 2222','México D.F.','5021','Mexico',9900),
        ('Antonio Moreno Taquería','Antonio Moreno','Mataderos 2312','México D.F.','5023','Mexico',7735),
        ('Around the Horn','Thomas Hardy','120 Hanover Sq.','London','WA1 1DP','UK',10295),
        ('Berglunds snabbkop','Christina Berglund','Berguvsvigen 8','Lule','S-958 22','Sweden',6755);
""")
conn.commit()

In [17]:
with open("Operaciones.sql", "w") as _file:
    for line in conn.iterdump():
        _file.write(f"{line}\n")

In [18]:
conn.execute("SELECT * FROM Clientes;").fetchall()

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany',
  14861),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '5021',
  'Mexico',
  9900),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '5023',
  'Mexico',
  7735),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK',
  10295),
 (5,
  'Berglunds snabbkop',
  'Christina Berglund',
  'Berguvsvigen 8',
  'Lule',
  'S-958 22',
  'Sweden',
  6755)]